.cargo/
*.pdb
**/*.rs.bk
debug/
target/
vendor/
vendor.tar
result
result-*
.direnv/
repl-history
debian/*
!debian/changelog
!debian/control
!debian/copyright
!debian/install
!debian/rules
!debian/source