[Desktop Entry]
Name=Cosmic Internet Radio Applet
Comment=An internet radio applet for the COSMIC desktop
Type=Application
Icon=com.github.maxattwell.cosmic-ext-applet-radio
Exec=cosmic-ext-applet-radio %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
MimeType=
